AllowShortIfStatementsOnASingleLine: true
AlwaysBreakAfterDefinitionReturnType: All
BasedOnStyle: GNU
BinPackParameters: false
BreakBeforeBinaryOperators: None
BreakBeforeBraces: Allman
ColumnLimit: 0
IndentCaseLabels: true
PointerAlignment: Right
SpaceAfterCStyleCast: true
SpaceBeforeParens: Always

UseTab: Always
IndentWidth: 4
TabWidth: 4
