Package: biorhythmus
Version: 0.04-1
Section: x11
Priority: optional
Architecture: i386
Depends: libart-2.0-2 (>= 2.3.8), libatk1.0-0 (>= 1.4.1), libbonobo-activation4 (>= 1:2.4.0), libbonobo2-0 (>= 1:2.4.0), libbonoboui2-0 (>= 2.4.0), libc6 (>= 2.3.2.ds1-4), libgconf2-4 (>= 2.4.0.1), libglib2.0-0 (>= 2.2.3), libgnome2-0 (>= 2.4.0), libgnomecanvas2-0 (>= 2.4.0), libgnomeui-0 (>= 2.4.0.1-2), libgnomevfs2-0 (>= 2.4.1), libgnomevfs2-common (>= 2.4.1), libgtk2.0-0 (>= 2.2.1), liborbit2 (>= 1:2.8.0), libpango1.0-0 (>= 1.2.1), libpopt0 (>= 1.7), libxml2 (>= 2.5.9), xlibs (>> 4.1.0), zlib1g (>= 1:1.1.4)
Installed-Size: 92
Maintainer: Gabriel Mainberger <gabisoft@freesurf.ch>
Description: Biorhytmus-Program
 To calculate your personal biorythmus.
