Package: biorhythmus
Version: 0.13-1
Architecture: amd64
Maintainer: Gabriel Mainberger <gabisoft@freesurf.ch>
Installed-Size: 87
Depends: libc6 (>= 2.2.5), libcairo2 (>= 1.2.4), libglib2.0-0 (>= 2.16.0), libgtk-3-0 (>= 3.0.0), libjson-glib-1.0-0 (>= 0.12.0)
Section: x11
Priority: optional
Description: Biorhytmus-Program
 To calculate your personal biorythmus
